<template>
  <div class="dashboard">
    <v-app>
      <v-app-bar app color="primary" dark elevation="0">
        <v-app-bar-nav-icon
          @click.stop="sidebarMenu = !sidebarMenu"
        ></v-app-bar-nav-icon>
        <v-spacer></v-spacer>
      </v-app-bar>
      <v-navigation-drawer
        v-model="sidebarMenu"
        app
        floating
        :permanent="sidebarMenu"
      >
        <v-list>
          <v-list-item>
            <v-list-item-action>
              <v-icon @click.stop="sidebarMenu = !sidebarMenu">
                mdi-chevron-left
              </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                <h3 class="font-weight-thin">Dashboard</h3>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="'/'">
            <v-list-item-icon>
              <v-icon color="primary">mdi-home-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="primary--text">
                Homepage
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="'/dashboard/measures-per-month'">
            <v-list-item-icon>
              <v-icon color="primary">mdi-home-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="primary--text">
                Measures per Month
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :to="'/dashboard/avg-measure-processing-time-per-month'"
          >
            <v-list-item-icon>
              <v-icon color="primary">mdi-home-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="primary--text">
                Processing Time
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            :to="'/dashboard/proportion-finding-types-per-month'"
          >
            <v-list-item-icon>
              <v-icon color="primary">mdi-home-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="primary--text">
                Finding Type Proportion
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link :to="'/dashboard/measure-proportions'">
            <v-list-item-icon>
              <v-icon color="primary">mdi-home-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title class="primary--text">
                Measure Proportions
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-content>
        <v-container fluid>
          <v-row v-if="diagram === 'measures-per-month'" class="fill-height">
            <v-col>
              <transition name="fade">
                <v-row>
                  <v-col>
                    <v-card elevation="4" class="">
                      <v-card-title primary-title>
                        Maßnahmen pro Monat
                      </v-card-title>
                      <v-card-text>
                        <bar-chart
                          :chart-data="measuresPerMonth"
                          :options="options"
                          :height="300"
                        ></bar-chart>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </transition>
            </v-col>
          </v-row>
          <v-row
            v-else-if="diagram === 'avg-measure-processing-time-per-month'"
            class="fill-height"
          >
            <v-col>
              <transition name="fade">
                <v-row>
                  <v-col>
                    <v-card elevation="4" class="">
                      <v-card-title primary-title>
                        Average Processing time of measures per finding type in
                        days
                      </v-card-title>
                      <v-card-text>
                        <bar-chart
                          :chart-data="avgProcessingTimes"
                          :options="options"
                          :height="300"
                        ></bar-chart>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </transition>
            </v-col>
          </v-row>
          <v-row
            v-else-if="diagram === 'proportion-finding-types-per-month'"
            class="fill-height"
          >
            <v-col>
              <transition name="fade">
                <v-row>
                  <v-col>
                    <v-card elevation="4" class="">
                      <v-card-title primary-title>
                        Finding types per month
                      </v-card-title>
                      <v-card-text>
                        <bar-chart
                          :chart-data="findingTypeProportion"
                          :options="options"
                          :height="300"
                        ></bar-chart>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </transition>
            </v-col>
          </v-row>
          <v-row
            v-else-if="diagram === 'measure-proportions'"
            class="fill-height"
          >
            <v-col>
              <transition name="fade">
                <v-row>
                  <v-col lg="6" cols="sm">
                    <v-card elevation="4" class="">
                      <v-card-title primary-title>
                        Proportion of measure types
                      </v-card-title>
                      <v-card-text>
                        <pie-chart
                          :chart-data="measureTypeProportion"
                          :options="options"
                          :height="300"
                        ></pie-chart>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <v-col lg="6" cols="sm">
                    <v-card elevation="4" class="">
                      <v-card-title primary-title>
                        Proportion of measure after due date
                      </v-card-title>
                      <v-card-text>
                        <pie-chart
                          :chart-data="measuresProcessedAfterDueDate"
                          :options="options"
                          :height="300"
                        ></pie-chart>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </transition>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from "vue-property-decorator";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";
import { api } from "@/store/modules/data";

import BarChart from "@/components/charts/BarChart";
import PieChart from "@/components/charts/PieChart";

@Component({
  components: {
    BarChart,
    PieChart
  }
})
export default class Audit extends Vue {
  loading: boolean = false;

  token: string = "82a9f2d8-b7c2-4332-a314-18530e76fc95";
  auditId: string = "iFFgMkAkTrvuYX76FBu2";
  response: any = null;

  data = null;
  diagram: string = "measures-per-month";

  /**
   * Daniel edits
   */
  sidebarMenu = true;
  options = {
    responsive: true,
    maintainAspectRatio: false
  };

  @Action(api.actions.loadData, { namespace: api.namespace })
  loadData!: () => Promise<void>;

  @Getter(api.getters.getMeasuresPerMonth, { namespace: api.namespace })
  measuresPerMonth!: any;

  @Getter(api.getters.getAvgProcessingTime, { namespace: api.namespace })
  avgProcessingTimes!: any;

  @Getter(api.getters.getMeasureTypeProportion, { namespace: api.namespace })
  measureTypeProportion!: any;

  @Getter(api.getters.getMeasuresProcessedAfterDueDate, {
    namespace: api.namespace
  })
  measuresProcessedAfterDueDate!: any;

  @Getter(api.getters.getFindingTypeProportion, {
    namespace: api.namespace
  })
  findingTypeProportion!: any;

  created() {
    this.loadData();
  }

  @Watch("$route", { immediate: true, deep: true })
  onUrlChange(newVal: any) {
    console.log(newVal);
    if (newVal.params.diagram) {
      this.diagram = newVal.params.diagram;
      console.log(this.diagram);
    }
  }
}
</script>
