<template>
  <v-card>
    <v-card-title>{{ routeName }}</v-card-title>
    <v-card-text>
      <ul>
        <li v-for="(item, idx) in routeInfo" :key="idx">
          <strong>{{ item[0] }}</strong>
          : {{ item[1] }}
        </li>
      </ul>
    </v-card-text>

    <v-card-subtitle>Params</v-card-subtitle>
    <v-card-text>
      <template v-if="params.length > 0">
        <ul>
          <li v-for="(item, idx) in params" :key="idx">
            <strong>{{ item[0] }}</strong>
            : {{ item[1] }}
          </li>
        </ul>
      </template>
      <template v-else>No Params</template>
    </v-card-text>
    <v-card-subtitle>Query</v-card-subtitle>
    <v-card-text>
      <template v-if="query.length > 0">
        <ul>
          <li v-for="(item, idx) in query" :key="idx">
            <strong>{{ item[0] }}</strong>
            : {{ item[1] }}
          </li>
        </ul>
      </template>
      <template v-else>No Query</template>
    </v-card-text>

    <v-card-subtitle>Metadata</v-card-subtitle>
    <v-card-text>
      <template v-if="metadata !== null">
        <pre>{{ metadata }}</pre>
      </template>
      <template v-else>No Metadata</template>
    </v-card-text>

    <v-card-actions>
      <v-spacer />
      <v-btn v-if="parentRoute !== null" @click="navToParent">
        <v-icon>mdi-arrow-up</v-icon>
      </v-btn>

      <v-btn v-else @click="navBack"><v-icon>mdi-arrow-left</v-icon></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";
import { State, Action, Getter, Mutation } from "vuex-class";

@Component({
  components: {}
})
export default class DummyView extends Vue {
  get historyCount() {
    return window.history.length;
  }

  get parentRoute() {
    const matchedCount = this.$route.matched.length;
    const currentRoute = this.$route.matched[matchedCount - 1];
    if (currentRoute && typeof currentRoute.parent !== "undefined") {
      const route = currentRoute.parent;
      return {
        name: route.name,
        params: this.$route.params
      };
    } else {
      return null;
    }
  }
  get params() {
    return Object.entries(this.$route.params);
  }
  get query() {
    return Object.entries(this.$route.query);
  }
  get metadata() {
    if (this.$route.meta) {
      return null;
    } else {
      return JSON.stringify(this.$route.meta, undefined, 2);
    }
  }

  get routeInfo() {
    return Object.entries({
      name: this.routeName,
      path: this.routePath,
      fullpath: this.routeFullpath,
      hash: this.routeHash,
      matchCount: this.$route.matched.length
    });
  }
  get routeName() {
    return this.$route.name;
  }

  get routePath() {
    return this.$route.path;
  }
  get routeHash() {
    return this.$route.hash;
  }
  get routeFullpath() {
    return this.$route.fullPath;
  }

  navBack() {
    this.$router.back();
  }

  navToParent() {
    if (this.parentRoute !== null) {
      this.$router.push(this.parentRoute);
    }
  }
  mounted() {
    console.log("DummyView:mounted", this.$router, this.$route);
  }
  created() {
    console.log("DummyView:created");
  }

  beforeDestroy() {
    console.log("DummyView:beforeDestroy");
  }
}
</script>
