/*
    primary: "#0097A7",
    "dark-primary": "#0097A7",
    "default-primary": "#00BCD4",
    "light-primary": "#B2EBF2",
    "text-primary": "#FFFFFF",
    accent: "#FFC107",
    "primary-text": "#212121",
    "secondary-text": "#757575",
    divider: "#BDBDBD", */

$color-primary: #4c9aa3;
$color-accent: #8d66ff;
$color-progress: #1976d2;
$color-success: #70c2a0;
$color-info: #82d4de;
$color-warning: #f2c94c;
$color-error: #eb5757;
$color-dark-grey: #444444;
$color-background: #fbfaf8;
$color-header-bg: #f6f6f6;
$color-border: #e0e0e0;

$time: 0.4s;
