<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ name: homeRouteName }">Home</router-link>
      |
      <router-link :to="{ name: dashboardRouteName, params: '/' }">
        Dashboard
      </router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script lang="ts">
import { Component, Prop, Watch, Vue } from "vue-property-decorator";
import { State, Getter, Action, Mutation, namespace } from "vuex-class";
import { ROUTE_NAMES } from "@/router/routenames";

@Component
export default class App extends Vue {
  dashboardRouteName = ROUTE_NAMES.DASHBOARD;
  homeRouteName = ROUTE_NAMES.HOME;

  created() {}
}
</script>
